Package: com.hacksong.facetimeaudioenabler
Name: FaceTimeAudioEnabler
Depends: firmware (>= 7.0), mobilesubstrate
Priority: optional
Version: 1.2.0
Architecture: iphoneos-arm
Description: Enable FaceTime Audio for iPhone bought in China.
Maintainer: Song Chenwen
Author: Song Chenwen
Section: Tweaks
